<tr>
  <td class="account">
    <span class="content"><%= account.details %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(account.created_at) %> ago.
    </span>
  </td>
</tr>
